---
layout: default
---

<div class="home">
  <div class="front">
    <h1 class="page-heading">Home</h1>  
    <p>This is just a collection of things I'm working on or have completed, notes to self, and other IT related topics.</p>
    <p>Recently moved this blog from Drupal to Github pages, still trying to get tagging to work correctly.</p>
  </div>
  {{ content }}
  <p>Last 5 posts</p>
    <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>
          {{ post.excerpt }} ...<a href="{{ post.url | relative_url }}">READ MORE</a>
        </p>
      </li>
      <hr>
    {% endfor %}
  </ul>
  <p><a href="http://www.jaspher.com/archive/">View all posts</a></p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  
</div>
